[submodule "effort_controller"]
	path = controller
	url = git@github.com:lucabeber/effort_controller.git
	branch = main
[submodule "lbr-stack/fri"]
	path = lbr-stack/fri
	url = git@github.com:idra-lab/fri.git
	branch = fri-1.17
[submodule "lbr-stack/lib_fri_idl"]
	path = lbr-stack/lib_fri_idl
	url = https://github.com/lbr-stack/lbr_fri_idl
[submodule "lbr-stack/lbr_fri_ros2_stack"]
	path = lbr-stack/lbr_fri_ros2_stack
	url = https://github.com/idra-lab/lbr_fri_ros2_stack
	branch = humble
